body
{
    background-color: white;
}
.fila
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    background-color: #578c90;

}
.img-cardd:hover
{
transform: rotateZ(20deg);
}
.columna
{
  
    background-color: #578c90;
    height: auto;
    width: auto;
    
}
br
{
    background-color: #578c90;
}
.img-cardd2:hover
{
    transform: rotateZ(-20deg);
}
.img-cardd2
{
width: auto ;
height: 300px;
}